:root {
    /*  character color  */
    --누멍브라운: #CFAC6A;
    --흰멍화이트: #FFFFFF;
    --검멍블랙: #6B6B6B;
    --덕구브라운: #B38D63;
    --덕구다크브라운: #6E5A4E;
    --덕구레드: #B94E32;
    --너굴브라운: #BD996D;
    --너굴다크브라운: #6E5C44;
    --바둑그레이: #767676;
    --얼룩베이지: #E4D1B2;
    --삽살베이지: #E7E0D4;
    --청설그레이: #766F6B;
    --냥이옐로우: #E1B970;
    --메롱핑크: #EA7AA9;
    --헥헥레드: #CA4349;
    --하트레드: #EA1C26;
    --다라이레드: #8F302A;
    --밥그릇블루: #ADC9E1;
    --밥그릇딥블루: #46719f;
    --밥그릇그레이: #c7c7c7;
    --나뭇잎그린: #A2BA82;
    
    /*  background color  */
    /*  홀수는 황색 ~ 갈색, 짝수는 청색 ~ 회색  */
    --배경1: #FEFCEC;
    --배경2: #FAFBFE;
    --배경3: #F0EDE2;
    --배경4: #D6DAE3;
    --배경5: #ECE9E0;
    --배경6: #C0C7D2;
    --배경7: #ECE5DB;
    --배경8: #9CB6C5;
    --배경9: #ECE0C9;
    --배경10: #8CA1AE;
    --배경11: #E8DDC9;
    --배경12: #A1A7B1;
    --배경13: #ECD9BA;
    --배경14: #98979B;
    --배경15: #CECCB4;
    --배경16: #5B6E7D;
    --배경17: #B19173;
    --배경18: #5B6476;
    --배경19: #7F715A;
    --배경20: #586068;
}