body{
  background-color: #FAFBFE;
}

img {
  border-radius: 5px;
}

*{
  font-family: 'Gaegu', cursive;
}

.keepAll {
  word-break: keep-all;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
