#qna {
  display: none;
  word-break: keep-all;
}

.qBox {
  background-color: var(--배경2);
  color: black;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  width: 90%
}

.answerList {
  background-color: var(--배경2);
  color: black;
  display: block;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 18px;
  width: 90%;
}

.answerList:hover, .answerList:focus {
  background-color: var(--밥그릇블루);
  color: var(--배경2);
}

.progress {
  height: 20px;
  width: 90%;
  background-color: var(--배경2);
  border-radius: 20px;
  border: 3px solid black;
}

.progressBar {
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#46719F+0,ADC9E1+52,C7C7C7+100;Red+3D+%231 */
  background: var(--밥그릇딥블루);
  /* Old browsers */
  background: -moz-linear-gradient(left, var(--밥그릇딥블루) 0%, var(--밥그릇블루) 65%, var(--밥그릇그레이) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, var(--밥그릇딥블루) 0%, var(--밥그릇블루) 65%, var(--밥그릇그레이) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, var(--밥그릇딥블루) 0%, var(--밥그릇블루) 65%, var(--밥그릇그레이) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= var(--밥그릇딥블루), endColorstr= var(--밥그릇그레이), GradientType=0);
  /* IE6-9 */
}

.keepAll {
  word-break: keep-all;
}