#qna {
  display: none;
  word-break: keep-all;
}

.qBox {
  background-color: #FAFBFE;
  color: black;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  width: 90%
}

.answerList {
  background-color: #FAFBFE;
  color: black;
  display: block;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 18px;
  width: 90%;
}

.answerList:hover, .answerList:focus {
  background-color: #ADC9E1;
  color: #FAFBFE;
}

.progress {
  height: 20px;
  width: 90%;
  background-color: #FAFBFE;
  border-radius: 20px;
  border: 3px solid black;
}

.progressBar {
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+52,ff5c5c+100;Red+3D+%231 */
  background: #46719F;
  /* Old browsers */
  background: -moz-linear-gradient(left, #46719F 0%, #ADC9E1 65%, #C7C7C7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #46719F 0%, #ADC9E1 65%, #C7C7C7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #46719F 0%, #ADC9E1 65%, #C7C7C7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febbbb', endColorstr='#ff5c5c', GradientType=0);
  /* IE6-9 */
}

.keepAll {
  word-break: keep-all;
}