#result{
  display: none;
  background-color: #FAFBFE;
  width: 90%;
  text-align: center;
  border-radius: 20px;
}

#shareResult{
  background-color: #FAFBFE;
  width: 90%;
  text-align: center;
  border-radius: 20px;
}

.resultname{
  font-size: 22px;
}

.resultDesc{
  font-size: 20px;
}

.kakao{
  color: white;
  background-color: #FEE500;
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
}

.kakao:hover, .kakao:focus {
  color: black;
  background-color: #FEE500;
  border-radius: 5px;
}

.gohome{
  color: #FAFBFE;
  background-color: #CFAC6A;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
}

.gohome:hover, .gohome:focus {
  color: black;
  background-color: #CFAC6A;
}

.keepAll {
  word-break: keep-all;
}
