#result{
  display: none;
  background-color: #FAFBFE;
  width: 90%;
  text-align: center;
  border-radius: 20px;
}

#shareResult{
  background-color: #FAFBFE;
  width: 90%;
  text-align: center;
  border-radius: 20px;
}

.resultName{
  font-size: 22px;
}

.resultDesc{
  font-size: 20px;
}

.resultShare{
  font-size: 18px;
}

.pleaseWait-container {
  background: rgba(0,0,0,.3);
  border-radius: 10px;
  padding: 15px 20px;
  position: absolute;
  bottom: 50px;
  display: none;
}

.pleaseWait-container.show {
  display: block;
}

.kakao{
  color: white;
  background-color: #FEE500;
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
}

.kakao:hover, .kakao:focus {
  color: black;
  background-color: #FEE500;
  border-radius: 5px;
}

.twitter{
  color: white;
  background-color: #1DA1F2;
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
}

.twitter:hover, twitter:focus {
  color: black;
  background-color: #1DA1F2;
  border-radius: 5px;
}

.facebook{
  color: white;
  background-color: #4267B2;
  font-size: 20px;
  border: 0px;
  border-radius: 5px;
}

.facebook:hover, facebook:focus {
  color: black;
  background-color: #4267B2;
  border-radius: 5px;
}


.goHome{
  color: #FAFBFE;
  background-color: #CFAC6A;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
}

.goHome:hover, .goHome:focus {
  color: black;
  background-color: #CFAC6A;
}

.refresh{
  display: none;
  color: #FAFBFE;
  background-color: #CFAC6A;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
}

.refresh:hover, .refresh:focus {
  color: black;
  background-color: #CFAC6A;
}




.keepAll {
  word-break: keep-all;
}
